<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Reset Password</h3>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="mb-3">
              <label for="resetpasswordemail" class="form-label">Account Email</label>
              <input type="email"  name="resetpasswordemail" ngModel required #resetpasswordemail="ngModel" class="form-control" id="resetpasswordemail" placeholder="Enter email">  
            </div>

            <button type="submit"  [disabled]="f.invalid" class="btn">Reset Password <i class="fa-solid fa-paper-plane"></i></button>
        </form>

    </div>


</div>
