.class {
  height: 100%;
  background-color: #4dff8b;
  padding: 59.5px 100px;
}

.box {
  color: black;
  border-radius: 5%;
  background-color: whitesmoke;
  padding: 10px 20px;
}

.bit {
  font-weight: 600;
  background-color: #1ed760;
}

@media screen and (max-width:600px) {
  .class {
    background-color: #4dff8b;
    padding: 30px 10px;
  }
}
