.footer {
    background: black;
    color: white;
    padding: 20px 10px;
    position: sticky;
    overflow: hidden;
    top: 100%;
}

h1{
    font-weight: bold;
    font-size: 20px;
}

span {
    color: #1ed760;
}

a {
    color: #1ed760;
    text-decoration: none;
    padding: 0px 5px;
    font-size: 17px;
}

a:hover {
    color: white;
}

i{
    padding: 0px 10px;
}

@media screen and (max-width:600px) {
    .con{
        margin-top: 2px;
    }
}