<div class="row">
  <img src="../../assets/e.jpg">

  <div class="rowcontent">
    <div class="col-md-6 offset-md-3 mt-4">
      <h3>Get Started</h3>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="mb-3">
          <label for="registerusername" class="form-label">Username</label>
          <input type="text"  name="username" ngModel required #username="ngModel" class="form-control" id="registerusername" placeholder="Enter username">  
        </div>

        <div class="mb-3">
          <label for="registeremail" class="form-label">Email address</label>
          <input type="email"  name="email" ngModel required #email="ngModel" class="form-control" id="registeremail" placeholder="Enter email">
        </div>


        <div class="mb-3">
          <label for="registerpassword" class="form-label">Password</label>
          <input type="password"  name="password" ngModel required #password="ngModel" class="form-control" id="registerpassword" placeholder="Password">
        </div>

        <div class="mb-3">
        <span>Already have an account?</span> <a [routerLink]="['/openshop']"> Login</a>
        </div>

        <button type="submit"  [disabled]="f.invalid" class="btn">Register <i class="fa-solid fa-user-plus"></i></button>
      </form>
      
    </div>

  </div>
    

</div>
