<section class="about">
    <div class="container">
        <div class="box shadow-lg">
            <h1  class="text-center mb-4">About LoopMarket</h1>
            <div class="in">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box mt-5 shadow-lg">
            <h1  class="text-center mb-4">What we have to Offer</h1>
            <div class="in">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <img src="../../assets/undraw_secure_login_pdn4.svg">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
        </div>
    </div>

    <div class="conti mt-5">
        <h1>Shop in three easy steps<span>...</span></h1><hr>
        <div class="row mt-5">
    
            <div class="set col-lg-4 mt-2">
                <div class="box">
                    <h1>1.</h1>
                    <img class="pic1" src="../../assets/undraw_authentication_re_svpt.svg">
                    <p>Openshop/Register<span>.</span></p>
                    <div class="in mt-2">
                        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores odio et maxime, architecto molestiae excepturi animi ipsam! Quasi praesentium omnis molestiae culpa, asperiores excepturi aliquam ea error consequatur odio ex!</h6>
                    </div>
                </div>
            </div>
    
            <div class=" set col-lg-4 mt-2">
                <div class="box">
                    <h1>2.</h1>
                    <img class="pic2" src="../../assets/undraw_gone_shopping_re_2lau.svg">
                    <p>Visit the Market<span>.</span></p>
                    <div class="in mt-2">
                        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores odio et maxime, architecto molestiae excepturi animi ipsam! Quasi praesentium omnis molestiae culpa, asperiores excepturi aliquam ea error consequatur odio ex!</h6>
                    </div>
                </div>
            </div>
    
            <div class="set col-lg-4 mt-2">
                <div class="box">
                    <h1>3.</h1>
                    <img class="pic3" src="../../assets/undraw_on_the_way_re_swjt.svg">
                    <p>Delivery in Minutes<span>.</span></p>
                    <div class="in mt-2">
                        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores odio et maxime, architecto molestiae excepturi animi ipsam! Quasi praesentium omnis molestiae culpa, asperiores excepturi aliquam ea error consequatur odio ex!</h6>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

</section>
