.market {
  height: 100%;
  background-color: black;
  padding: 56px 100px;
}

.box {
  color: white;
  border-radius: 5%;
  background-color: #12b149;
  padding: 10px 20px;
}

.foodbox {
  padding: 10px 5px;
}

.foodbox img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}

.foodbox h1 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}

.buybtn {
  margin-top: 2px;
  color: white;
  background-color: black;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.buybtn:hover {
  color: #1ed760;
  background-color: whitesmoke;
  transition: 0.5s ease;
  border: none;
}

hr {
  color: black;
  font-weight: bold;
}

input {
  width: 50%;
  border: transparent;
}

button {
  border: transparent;
  border-radius: 3px;
}

.quan {
  margin-top: -30px;
  margin-left: 62%;
}

.form-select {
  width: 60%;
}

.text {
  margin-top: 30px;
  color: #1ed760;
}

span {
  color: white;
}

.price {
  font-weight: 500;
  font-size: 20px;
}


.char {
  width: 100%;
  margin-top: -2%;
  height: 400px;
}

@media screen and (max-width:600px) {
  .market {
    padding: 30px 10px;
  }

  .char {
    width: 100%;
    height: 300px;
  }
}
